$belaboja: #fff;
$crnaboja: #000;
$bebiroze: #fbf4f1;

@mixin dugme {
  padding: 15px 20px;
  font-family: firstFont;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 20px;
  color: $belaboja;
  border-radius: 0px;
}

@mixin fontSett {
  font-family: firstFont;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
}

@mixin sirinaivisinamape {
  min-height: 100vh !important;
  min-width: 100%;
}

//Posatavlja boju teksta u odnosu na boju pozadine
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//Postavlja pozadinsku i boju teksta
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
